* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  font-family: sans-serif;
  color: #333;
  background-image: url("wall-land2.jpg");
  height: 80rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#all {
  transform: scale(0.35);
  position: absolute;
  left: 15%;
  top: -25%;
  cursor: pointer;
  transition: all 0.8s;
}

#all:hover {
  transform: scale(0.5);
}

#frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110rem;
  height: 80rem;
  background-color: #432818;
  border-radius: 3px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100rem;
  height: 70rem;
  background-color: #d7bca7;
  border-radius: 3px;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#has-image {
  width: 75rem;
  height: 50rem;
  border-radius: 3px;
  background-image: url("image2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#file {
  display: none;
}
#buttons {
  margin: 3rem auto auto 6rem;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 3rem;
  font-size: 2.2rem;
  text-decoration: none;
}
.ch-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3f9d8;
  border-radius: 1rem;
  width: 12rem;
  height: 4rem;
  transition: all 0.3s;
}

.ch-image:hover {
  background-color: #b2f2bb;
  box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.wall-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #b13838;
  border-radius: 10px;
  width: 12rem;
  height: 4rem;
  transition: all 0.3s;
  text-decoration: none;
  margin-top: 3rem;
}

.wall-link:hover {
  background-color: #300000;
  color: #fff;
  box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 40em) {
  body {
    background-image: url("wall-potrait.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50rem;
    position: relative;
  }
  #all {
    transform: scale(0.15);
    position: absolute;
    left: -40rem;
    top: -30rem;
    cursor: pointer;
    transition: all 0.8s;
  }
  #buttons {
    width: 35rem;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0rem auto;
    gap: 2rem;
    padding-top: 40rem;
  }
  .ch-image {
    background-color: rgba(27, 48, 30, 0.702);
    color: #fff;
    border-radius: 10px;
    width: auto;
    height: 3rem;
  }
  .back {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 1rem;
    color: #fff;
  }
  .wall-link {
    background-color: rgba(27, 48, 30, 0.702);
    color: #fff;
    border-radius: 10px;
    width: auto;
    height: 3rem;
    margin: 0rem;
    text-align: center;
  }
}
