* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
}

#all {
  transform: scale(0.875);
  margin-top: -3rem;
}

#frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110rem;
  height: 80rem;
  background-color: #432818;
  border-radius: 3px;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100rem;
  height: 70rem;
  background-color: #d7bca7;
  border-radius: 3px;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2.2rem;
}

#has-image {
  width: 75rem;
  height: 50rem;
  border-radius: 3px;
  background-image: url("image2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#file {
  display: none;
}

.ch-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3f9d8;
  border-radius: 10px;
  width: 12rem;
  height: 4rem;
  margin-right: 15rem;
  transition: all 0.3s;
}

.ch-image:hover {
  background-color: #b2f2bb;
  box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

.wall-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  background-color: #d3f9d8;
  border-radius: 10px;
  width: 18rem;
  height: 4rem;
  margin-left: 15rem;
  transition: all 0.3s;
  text-decoration: none;
}

.wall-link:hover {
  background-color: #b2f2bb;
  box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 40em) {
  #flex {
    width: 37rem;
  }
  #frame {
    width: 37rem;
    height: 30rem;
  }
  #container {
    width: 33rem;
    height: 26rem;
  }
  #has-image {
    width: 25rem;
    height: 20rem;
  }
  #buttons {
    width: 35rem;
    font-size: 1rem;
    gap: 2rem;
    /* transform: scale(0.5); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ch-image {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: #d3f9d8;
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
    margin-right: 0rem;
  }
  .wall-link {
    background-color: #d3f9d8;
    border-radius: 10px;
    width: 6rem;
    height: 3rem;
    margin-left: 0rem;
  }
}
